.App {
  text-align: center;
  padding: 10%;
}

button {
  line-height: 1em;
  font-size: 1.5em;
  padding: .2em .5em;
  margin: 1em
}

.GetBalanceComponent {
  margin-top: 2em;
  padding: 2em;
  background-color: rgba(0, 0, 0, .2);
}